<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <a href="http://127.0.0.1:8000/">
        <img src="{% static 'images/logo.jpg' %}" alt="logo">
    </a>
    <h1><a href="http://127.0.0.1:8000/">Plants</a></h1>
    <div class="navbar">
        <ul class="navbar_items">
            <li class="navbar_item">
                <a href="#" class="active_btn">Main</a>
            </li>
            <li class="navbar_item ">
                <a class="btn" href="#">Order</a>
            </li>
            <li class="navbar_item">
                <a class="btn" href="#">Farmers</a>
            </li>
            <li class="navbar_item">
                <a class="btn" href="#">About</a>
            </li>
        </ul>
    </div>
</header>
<section>
    {% for foo in key %}
        <div class="card" style="display: inline-block">
            <div class="card_img">
                <img src="{{ foo.image.url }}" alt="{{ foo.image }}">
            </div>
            <h3>{{ foo.name }}</h3>
            <p>{{ foo.description|truncatewords_html:50 }}</p>
            <a class="card_btn" href="{{ foo.get_absolute_url }}">Read more</a>
            a
        </div>
    {% endfor %}
</section>


{% block desc %}

{% endblock %}


<footer>
    <p>&copy; CopyRight from nature</p>
</footer>
</body>
</html>